name: Rust

on:
  pull_request:
    branches: [ "*" ]
  push:
    branches: [ "main" ]
  workflow_call:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Format
      run: cd flaw; cargo fmt --check --verbose
    - name: Lint
      run: cd flaw; cargo clippy --features=std
    - name: Build
      run: cd flaw; cargo build --verbose
    - name: Run tests
      run: cd flaw; cargo test --features=std --verbose
    - name: Run tests with mul_add
      run: cd flaw; cargo test --features=std,fma --verbose
    - name: Test no-std
      run: |
        cd test_no_std
        rustup target add thumbv7em-none-eabihf
        cargo build --verbose --target-cpu=cortex-m7 --features=fma
